#teleCollection{
  margin-left: 12%;
  width: 500px;
  margin-top: 6rem;
}

#section{
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(173,216,230,1) 100%);
  margin: 0;
  padding: 6rem;
}

#jumbo{
  background-image: url(./photos/background.jpg);
  background-size: contain;
  margin: 0;
  padding: 6rem;
}

#guitars1{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(173,216,230,1) 100%);
  padding-bottom: 75px;
  display: block;
}

#guitars2{
  display: none;
}

.jumbotron h1{
  padding: 6px;
}

.jumbotron p{
  pad: 6px;
}

.container-fluid .card{
  width: 300px;
}

.container-fluid{
  margin-top: 6rem;
}

.card{
  margin: auto;
  background-color:#e9ecef!important;
}

.collection{
  width: 75%;
  background-color: #e9ecef;
  padding: 10px;
  margin: auto;
}

.jumbotron{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

hr{
  margin-left: 12%;
  width: 500px;
}

@media (max-width:1000px){
  .container-fluid .card{
    width: 200px;
  }

  #teleCollection{
    margin-left: 5px;
  }

  #section{
    padding-left: 0;
    padding-right: 0;
  }

  #section .row{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #section .row .col{
    padding-left: 0;
    padding-right: 0;
  }

  hr{
    margin-left: 0px;
    width: 400px;
  }

  .jumbotron{
    width: 75%;
    margin: auto;
    padding:0;
  }
}

@media (max-width:680px){
  .container-fluid .card{
    width: 75%;
    margin-bottom: 15px;
  }

  #guitars1{
    display: none;
  }

  #guitars2{
    display: block;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(173,216,230,1) 100%);
    padding: 5px;
  }
}
