#teleCollection{
  margin-left: 12%;
  margin-top: 6rem;
}

#section{
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(173,216,230,1) 100%);
  margin: 0;
  padding: 6rem;
}

#section .row{
  justify-content: space-around;
}

#jumbo{
  background-image: url(./photos/background.jpg);
  background-size: contain;
  margin: 0;
  padding: 6rem;
}

#guitars1{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(173,216,230,1) 100%);
  padding-bottom: 75px;
}

.jumbotron h1{
  padding: 6px;
}

.jumbotron p{
  padding: 6px;
}

.collection{
  background-color: #e9ecef;
  padding: 4rem 2rem;
}

.container-fluid{
  margin-top: 6rem;
}

.card{
  background-color:#e9ecef!important;
}

.jumbotron{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

hr{
  margin-left: 12%;
  width: 75%;
}

.container-fluid .card{
  margin: 3rem;
}


@media (max-width:992px){
  .collection{
    padding: 1rem;
  }
}

@media (max-width:620px){
  .collection{
    margin-bottom: 15px;
  }

  .collection h2{
    font-size: x-large;
  }

  .collection p{
    font-size: medium;
  }

  .jumbotron{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding:6px !important;
    line-break: loose;
  }

  .jumbotron p{
    font-size: medium;
  }

  .jumbotron h1{
    font-size: x-large;
  }
}